html {
    scroll-behavior: smooth;
}

html,
* {
    box-sizing: border-box;
    margin-bottom: 0;
}


body {
    margin: 0;
}



.parallax {
    align-items: center;
    display: grid;
    height: 100vh;
    justify-content: center;
    margin: 0;
    max-width: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    
}  

.parallax-item1 {
    display: grid;
    position: fixed;
    top: 100;
    
    
    
    
}

.parallax-item2 {
    display: grid;
    position: fixed;
    top: 100;
    

}

.parallax-item3 {
    display: grid;
    position: fixed;
    top: 100;
    
    
}



.section {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #E0C894;
}

.container {
    background-color: ;
    min-height: 100vh;

    padding: 80px 0px;
    position: relative;

}



@media (min-width: 576px) {
    .section {
        grid-template-columns: 1fr 540px 1fr;
    }

    .container {
        grid-row-start: 2;
        grid-column-end: 3;
    }
}

@media (min-width: 768px) {
    .section {
        grid-template-columns: 1fr 720px 1fr;
    }
}

@media (min-width: 992px) {
    .section {
        grid-template-columns: 1fr 960px 1fr;
    }
}

@media (min-width: 1200px) {
    .section {
        grid-template-columns: 1fr 1140px 1fr;
    }
}



.about,
.about .container {
    background-color:
}

.home.section {
    background-image: ;
    background-size: cover;
}

.home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .logoimg {}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media (min-width: 576px) {
    .navbar {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .navbar .logo {
        display: block;
        text-decoration: none;


        font-family: 'Righteous', cursive;
        color: #604a66;
        font-size: 18px;
        line-height: 30px;
    }


    .navbar .navmenu,
    .navbar .navmenu li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar .navmenu {
        display: flex;
        justify-content: space-around;
    }

    .navbar .navmenu li {}

    .navbar .navmenu a {
        display: block;
        padding: 1em 2em;
        font-family: 'Righteous', cursive;
        text-decoration: none;
        color: #604a66;
        font-size: 18px;
        line-height: 30px;

    }

    .navbar .navmenu a.active,
    .navbar .navmenu a:hover {

        background-image: url(../images/navmenu-hover.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .about .section {}

    /*
    .about .container {
        display: grid;
        grid-auto-rows: 2fr 1fr 1fr;
        align-items: center;
    }
*/

}

@media (max-width: 576px) {
    .section.heroes .container {
        grid-column: 1/ 3;
    }
}

.slider {
    width: 90%;
    margin: 100px auto;
}

slick_slide {
    margin: 0px 20px;
}

slick_slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .5;
}

.slick-current {
    opacity: 1;
}


.textheroes {
    margin-top: 120px;
    height: 1cm;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;




}

.gallery-grid {
    display: grid;
    grid-gap: 2.5em;
    grid-template-columns: repeat(3, 1fr);
}

.img-fluid {
    max-width: 100%;
}

.gallery a {
    display: block;
}

.gallery a:hover img {
    transform: scale(1.15, 1.15);
}

.gallery a img {
    transition: all 0.25s ease-in-out;
}


.textgallery {

    grid-column: 1/-1;



    height: 6.5cm;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

}


.about .image {
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

.about .image img {
    max-width: ;
    height: auto;
    width: 30%;
}



.about .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    max-height: 1px;

}


.about .contacts .facebook a i {
    width: 60%;
    font-size: 3.5em;
    color: #6A2F73;
    margin-left: 1em;
    margin-right: 1em;

}


.about .contacts .instagram a i {
    font-size: 3.5em;
    color: #6A2F73;
    margin-left: 1em;
    margin-right: 1em;
}


.about .contacts .email a i {
    font-size: 3.5em;
    color: #6A2F73;
    margin-left: 1em;
    margin-right: 1em
}

.about .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', cursive;
    color: #604a66;
    font-size: 20px;
    line-height: 15px;

}

.about .info {
    text-align: center;
}

.about .text p {}



.textabout {
    height: 7cm;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;


}

.about .services ul,
.about .services li {
    margin: 0;
    padding: 0;
    list-style: none;
}
